.conteinerHome{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-container);
}

#root{
    width: 100%;
    height: 100%;  
}

.bodyContainer{
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-container-clear);
}

.noContatos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noContatos img{
    width: 17rem;
    height: 17rem;
}
