.conteinerHome{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-container);
}

#root{
    width: 100%;
    height: 100%;  
}

.bodyContainer{
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-container-clear);
}

.noContatos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noContatos img{
    width: 17rem;
    height: 17rem;
}

.chat-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.headerChat{
    width: 100%;
    height: 4rem;
    padding: 5px 0px;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infosChat{
    display: flex;
    align-items: center;
}

.IconeContatoChat img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    margin-left: 1rem;
}

.infosContatoChat{
    margin-left: 1rem;
}

.infosContatoChat h1, .headerDC h1{
    font-size: 17px;
    font-weight: 500;
    color: var(--color-white);
}

.infosContatoChat p{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem; 
}

.opcoesChat{
    margin-right: 2rem;
}

.opcoesChat svg{
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.DadosContato{
    width: 50%;
    display: flex;
    align-items: flex-start;
    background-color: var(--color-container);
}

.bodyDC{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
}

.headerDC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerDC button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.headerDC button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.headerDC button svg:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

.infosDC{
    margin-top: 2rem;
}

.alinhaCO{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.detalhesUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.detalhesUser img{
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    user-select: none;
    cursor: pointer;
}

.detalhesUser img:hover {
    transition: 0.2s;
    opacity: 0.7;
}

.footerChat{
    width: 100%;
    height: 4rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
}

.infoFC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
}

.detalhesUser{
    display: flex;
    align-items: center;
    width: 100%;
}

.infoFC svg{
    width: 1.5rem;
    height: 1.5rem;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}

.inputinfosFC {
    width: 80%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin-top: 0 1rem 0 1rem;
    background-color: transparent;
    font-size: 16px;
}

.topico2{
    display: flex;
    align-items: center;
} 

.Chat, 
.chat--group { 
    overflow-y: auto; 
    overflow-x: hidden;
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.Chat::-webkit-scrollbar,
.chat--group::-webkit-scrollbar
.DadosContato::-webkit-scrollbar {
    width: 8px;
}

.Chat::-webkit-scrollbar-track
.chat--group::-webkit-scrollbar-track,
.DadosContato::-webkit-scrollbar-track {
    background: transparent;
}

.Chat::-webkit-scrollbar-thumb,
.chat--group::-webkit-scrollbar-thumb,
.DadosContato::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.IconeContatoChat{
    display: flex;
    align-items: center;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.my-message {
    background-color: #3d3d3d;
    align-self: flex-end;
    border-radius: 12px 0px 12px 12px;
}

.my-message::after {
    content: "";
    position: absolute;
    top: -8px;
    transform: translateY(50%) rotate(91deg);
    right: -8px;
    width: 0px;
    height: 0;
    border: 8px solid transparent;
    border-radius: 5px;
    border-left-color: #3d3d3d;
}

.contact-message {
    background-color: #181818;
    align-self: flex-start;
    border-radius: 0px 12px 12px 12px;
}

.contact-message::before {
    content: "";
    position: absolute;
    top: -8px;
    transform: translateY(50%) rotate(270deg);
    left: -7px;
    width: 0;
    height: 0;
    border-radius: 5px;
    border: 8px solid transparent;
    border-right-color: #181818;
}

.my-message.continued::after {
    display: none;
}

.contact-message.continued::before {
    display: none;
}

.contact-message.continued {
    margin-left: 0 !important;
}
  
.chat--group .contact-message.continued {
    margin-left: 32px !important;
}

.horaMensagem{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 10px;
}

.horaMensagem span{
    font-size: 11px;
    color: #8d8d8d;
    font-weight: 400;
    position: relative;
    top: 5px;
    user-select: none;
}

.linkMensagem{
    color: #28B4EB;
}

.message-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1; 
}

.message-container.active {
    z-index: 10000;
}
  
.options-container {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(7px);
    z-index: 9999;
    padding: 4px;
}

.options-container svg {
    font-size: 20px;
}

.message-container:hover .options-container {
    opacity: 1;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #292929;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 4px;
    pointer-events: auto;
}

.add-options-card{
    position: absolute;
    bottom: 60px;
    left: 0;
    background-color: #292929;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 4px;
    pointer-events: auto;
}

.dropdown-menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    padding: 6px 13px;
    cursor: pointer;
}

.add-options-card button {
    display: flex;
    align-items: center;
    width: 10rem;
    border: none;
    background: none;
    padding: 6px 6px;
    cursor: pointer;
}

.add-options-card button svg {
    margin: 5px !important;
}
    
.dropdown-menu button:hover,
.add-options-card button:hover {
    background: #181818;
    border-radius: 5px;
}

.itensAddOptions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-content{
    max-width: 30rem;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: pre-wrap;
}

.media-content{
    max-width: 18rem;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: pre-wrap;
}

.popUpEditar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.headerPopUp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerPopUp h1{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.itensPopUpEditar{
    width: 35rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
}

.btnsPopUp button{
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 9rem;
    padding: 10px;
    cursor: pointer;
}

.btnsPopUp button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.elementosFormPopUp input{
    width: 80%;
    padding: 9px;
    border-radius: 3px;
    border: none;
    color: black;
    margin-top: 5px;
    margin-bottom: 2rem;
}

.formPopUpEditar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.elementosFormPopUp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reply-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    height: 4rem;
    background-color: #3d3d3d;
}

.mensagemReply{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #181818;
    width: 90%;
    padding: 7px;
    border-radius: 5px;
    user-select: none;
}

.mensagemReply strong{
    font-weight: bold;
    margin-bottom: 5px;
}

.btnCloseReply{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btnCloseReply svg{
    width: 26px;
    height: 26px;
}

.btnCloseReply svg:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.replied-message-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #a3a3a329;
    width: 90%;
    padding: 7px;
    border-radius: 5px;
    user-select: none;
    margin-bottom: 5px;
}

.media-content img,
.media-content video{
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
}

.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    max-height: 80%;
}

.image-modal-content img {
    width: 75%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.close-button {
    position: absolute;
    top: -30px;
    right: -30px;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}


.docsImg{
    width: 14rem;
    height: 12rem !important;
    margin-bottom: 2rem;
}

.documentMessage{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: flex-start;
    background-color: #a3a3a329;
    padding: 14px;
    border-radius: 5px;
    user-select: none;
    margin-bottom: 5px;
} 

.documentMessage a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.documentMessageIcon svg,
.documentMessage a svg{
    width: 24px;
    height: 24px;
}

.documentMessage a svg{
    margin-left: 1rem;
}

.documentMessage a p{
    font-size: 14px;
}

.documentMessageIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.documentMessageIcon p{
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 6px;
}

.sender-name {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.message-wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.message-wrapper.my {
    justify-content: flex-end;
}

.group-members p{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
}

.group-members ul{
    margin-top: 1rem;
}

.DadosContato {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.member-item{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0.5rem 0rem;
    width: 100%;
    user-select: none;
}

.member-item img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    user-select: none;
}

.member-item span,
.bntAddNewMember button span{
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
}

.barraDivisao{
    width: 100%;
    height: 1px;
    background-color: #8988884f;
    border-radius: 1px;
    margin: 1rem 0rem;
}

.OpcoesUserGrupo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.OpcoesUserGrupo:hover{
    transition: 0.3s;
    background-color: rgb(129 129 129 / 15%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.OpcoesUserGrupo svg{
    font-size: 26px;
}

.OpcoesUserGrupo h1{
    font-size: 16px;
    margin-left: 0.5rem;
    font-weight: 600;
}


.alinhaGroupDesc{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 1rem 0; 
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    position: relative;
    font-size: 14px;
    font-weight: 400;
}

.description.expanded {
    -webkit-line-clamp: unset;
    display: block;
}

.readMore {
    color: var(--color-subtitle);;
    cursor: pointer;
    margin-top: 0.25rem;
    font-size: 0.9rem;
}

.group-description-container button,
.alinhaNome button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.group-description-container svg,
.alinhaNome button svg {
    font-size: 18px;
}

.alinhaNome button {
    margin-left: 0.5rem;
}

.group-description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.textarea-edit {
    overflow: hidden;
    resize: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    background: transparent;
    border: none;
    outline: none;
}

.readmore-wrapper {
    width: 100%;
}

.alinhaNome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.alinhaNome input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 6px;
    font-size: 14px;
}

.bntAddNewMember button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    margin: 0.5rem 0 0 0;
}

.bntAddNewMember button:hover{
    transition: 0.3s;
    background-color: rgb(129 129 129 / 15%);
    cursor: pointer;
    border-radius: 0.5rem;
}

.bntAddNewMember button svg{
    width: 24px;
    height: 24px;
}

.overlayAddMembers{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 1;
    background-color: var(--color-container);
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
}

.headerModal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerModal h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-white);
}

.headerModal p {
    margin-top: 0.5rem;
    font-size: 16px;
    color: var(--color-subtitle);
    max-width: 25rem;
}

.containerAddMembers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.selectAddMembers{
    margin: 2rem;
}

.btnCloseAddMembers {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
}

.btnCloseAddMembers button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.btnCloseAddMembers button svg {
    font-size: 26px;
}

.btnCloseAddMembers button:hover {
    transition: 0.2s;
    transform: scale(1.2);
}

.btnSaveMembers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    margin: 1rem;
}

.btnSaveMembers:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.swal-custom-popup {
    background: #0e0e0e !important;
}
  
.swal-custom-title,
.swal-custom-content {
    color: white !important;
}
  
.swal-btn-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    margin: 1rem;
}
  
.swal-btn-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    margin: 1rem;
}

.swal-btn-confirm:hover,
.swal-btn-cancel:hover {
    opacity: 0.8;
}
  

.opcoesChat {
    cursor: pointer;
  }
  

.header-options-card {
    position: absolute;
    top: 100%;         
    right: 0;         
    background-color: #292929;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    padding: 4px;
}


.itensHeaderOptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-options-card button {
    display: flex;
    align-items: center;
    width: 12rem;
    border: none;
    background: none;
    padding: 9px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 0.5rem;
}

.header-options-card button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.wallpaper-editor-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.wallpaper-editor-content {
    background-color: var(--color-container);
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.titleWec{
    margin-top: 1rem;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.wallpaper-editor-content input {
    width: 22rem;
    padding: 9px;
    border-radius: 3px;
    border: none;
    color: black;
    margin-top: 5px;
}

.save-btn {
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 11rem;
    padding: 10px;
    cursor: pointer;
    margin-top: 2rem;
}

.save-btn:hover,
.close-btn:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.date-separator {
    display: inline-block;
    margin: 1rem auto;
    padding: 7px;
    font-size: 12px;
    color: var(--color-subtitle);
    font-weight: 500;
    background-color: #181818;
    border-radius: 5px;
}