.conteinerHome{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-container);
}

#root{
    width: 100%;
    height: 100%;  
}

.bodyContainer{
    width: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-container-clear);
}

.noContatos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noContatos img{
    width: 17rem;
    height: 17rem;
}

.chat-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.headerChat{
    width: 100%;
    height: 4rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infosChat{
    display: flex;
    align-items: center;
}

.IconeContatoChat img{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    margin-left: 1rem;
}

.infosContatoChat{
    margin-left: 1rem;
}

.infosContatoChat h1, .headerDC h1{
    font-size: 17px;
    font-weight: 500;
    color: var(--color-white);
}

.infosContatoChat p{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem; 
}

.opcoesChat{
    margin-right: 2rem;
}

.opcoesChat svg{
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.DadosContato{
    width: 50%;
    display: flex;
    align-items: flex-start;
    background-color: var(--color-container);
}

.bodyDC{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
}

.headerDC{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerDC button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.headerDC button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.headerDC button svg:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

.infosDC{
    margin-top: 2rem;
}

.alinhaCO{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.detalhesUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.detalhesUser img{
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    user-select: none;
}

.footerChat{
    width: 100%;
    height: 4rem;
    background-color: #3d3d3d;
    display: flex;
    align-items: center;
}

.infoFC{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    width: 100%;
}

.infoFC svg{
    width: 1.5rem;
    height: 1.5rem;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}

.inputinfosFC {
    width: 80%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin-top: 0 1rem 0 1rem;
    background-color: transparent;
    font-size: 16px;
}

.topico2{
    display: flex;
    align-items: center;
}

.Chat{
    height: 100%;
    width: 100%;
}

.IconeContatoChat{
    display: flex;
    align-items: center;
}

.btnStatus{
    
}