.conteinerCadastrar, .conteinerLogar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-container);
    border-radius: 2rem;
}

.conteinerLogar{
    height: 30rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100%;
}

.titleForm{
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.inputinfos{
    width: 22rem;
    padding: 10px;
    border-radius: 0.5rem;
    border: 2px solid white;
    margin-top: 1rem;
    background-color: transparent;
    font-size: 16px;
}

.cadastro{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-top: 1.5rem;
}

input:focus {
    outline: none;
}

.button{
    margin-top: 2rem;
}

.button input{
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 12rem;
    padding: 10px;
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.button input:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.cadastro a{
    text-decoration: none;
    color: #606e85;
    font-weight: bold;
}

.cadastro p{
    font-size: 16px;
    font-weight: 400;
}

.contenerimg {
    display: flex;
    justify-content: center;
}

.contenerimg img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.file{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 10px;
    cursor: pointer;
}

.buttoncadastro button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    margin-left: 6px;
}