.menu{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.elementosMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 1rem;
}

.headerMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerMenu img{
    width: 2.4rem;
    height: 2.4rem;
    user-select: none;
    cursor: pointer;
    border-radius: 100%;
}

.textHM{
    margin-left: 0.5rem;
}

.textHM h1{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
}

.textHM p{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
}

.search{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.filter{
    display: flex;
    align-items: center;
    background-color: #292929;
    border-radius: 5px;
    padding: 9px;
    width: 88%;
}

.filter span{
    height: 16px;
}

.inputSearch{
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.footerMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.footerMenu span{
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.footerMenu span:hover{
    transition: 0.2s;
    transform: scale(1.1); 
}

.popUpCadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.itensPopUpC{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--color-container);
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
}

.headerPUCad img{
    width: 10rem;
    height: 10rem;
}

.btnClose{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
}

.btnCloseAdd{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
}

.btnClose button,
.btnCloseAdd button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    margin: 1rem 1rem 0 1rem;
}

.btnClose button:hover,
.btnCloseAdd button:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

.btnClose button svg,
.btnCloseAdd button svg{
    font-size: 26px;
}

.headerPUCad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infosHPUCad{
    text-align: center;
    margin-bottom: 1rem;
}

.barraPp{
    margin-top: 1rem;
    width: 90%;
    height: 2px;
    background-color: #8988884f;
}

.infosHPUCad p{
    margin-top: 0.5rem;
    font-size: 14px;
    color: var(--color-subtitle);
    max-width: 20rem;
}

.btnAddContato input,
.btnAddContato button{
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 11rem;
    padding: 10px;
    cursor: pointer;
}

.btnAddContato input:hover,
.btnAddContato button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.formPp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerAdd{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 1rem 5rem 4rem 5rem;
}

.elementosFormPp{
    margin-top: 1rem;
}

.inputFP{
    width: 22rem;
    padding: 9px;
    border-radius: 3px;
    border: none;
    color: black;
    margin-top: 5px;
}

.inputFPError{
    border: 2px solid red !important;
}

.titlesInput{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
}

.btnAddContato{
    margin-top: 3rem;
}

.elementsCont1{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.elementsCont1 img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.textCont1{
    margin-left: 1rem;
}

.textCont1 h1{
    font-size: 16px;
}

.textCont1 p{
    font-size: 12px;
    margin-top: 2px;
    color: var(--color-subtitle);
}

.contato{
    width: 100%;
    padding: 9px 0px 9px 0px;
}

.contato:hover{
    transition: 0.1s;
    background-color: rgb(129 129 129 / 45%);
    cursor: pointer;
}

.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;  
    margin-top: 0.5rem;
    max-height: 90%;
    overflow-y: auto;   
    overflow-x: hidden; 
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}


.contatos::-webkit-scrollbar {
    width: 8px;
}

.contatos::-webkit-scrollbar-track {
    background: transparent;
}

.contatos::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.cont1{
    width: 100%;
}

/* menu dados da conta */

.dadosConta{
    height: 100%;
    width: 100%;
}

.InformacoesUsuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.fotoPerfil img{
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
    border: 2px solid white;
    object-fit: cover;
    object-position: center;
}

.fotoPerfil img:hover{
    transition: 0.2s;
    opacity: 0.3;
}

.infoPessoal{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.input input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 6px;
    font-size: 14px;
}
  
.input input.editing {
    border-bottom: 2px solid var(--color-subtitle);
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
  
.input svg{
    cursor: pointer;
    user-select: none;
}

.dadosInfor1{
    margin: 1rem 1rem 0 1rem;
}

.dadosInfor1 p{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-subtitle);
    user-select: none;
}

.btnSalvarAlteracoes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btnSalvarAlteracoes button{
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 14px;
    width: 8rem;
    padding: 8px;
    cursor: pointer;
}

.btnSalvarAlteracoes button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.cardEditImage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.optionsAdd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alinhaOptionsAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.alinhaOptionsAdd button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    color: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    margin: 1rem;
}

.alinhaOptionsAdd button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.alinhaOptionsAdd button svg{
    margin-right: 1rem;
    font-size: 22px;
}

.imgPadraoGroup{
    width: 5rem !important;
    height: 5rem !important;
}

.fotoGrupo img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

/* biblioteca select */

.my-select{
    margin-top: 0.5rem;
}

.my-select__control {
    background: #292929 !important;
    border: 1px solid white !important;
    box-shadow: none !important;
}
.my-select__control:hover {
    border-color: white !important;
}

.my-select__menu {
    background: #292929 !important;
}

.my-select__option {
    background: #292929 !important;
    color: white !important;
    cursor: pointer !important;
}
.my-select__option--is-focused {
    background: #3a3a3a !important;
}
.my-select__option--is-selected {
    background: #444 !important;
}

.my-select__placeholder,
.my-select__single-value {
    color: #aaa !important;
}
.my-select__input input {
    color: white !important;
}

.my-select__indicator-separator {
    background-color: white !important;
}
.my-select__dropdown-indicator {
    color: white !important;
}
.my-select__dropdown-indicator:hover {
    color: #ddd !important;
}

.my-select__multi-value {
    background: #3a3a3a !important;
}
.my-select__multi-value__label {
    color: white !important;
}
.my-select__multi-value__remove {
    color: white !important;
}
.my-select__multi-value__remove:hover {
    background: #555 !important;
    color: white !important;
}
.my-select__control {
    width: 23rem;
}

.my-select__menu {
    width: 23rem;
}

.optionsAddMenu {
    left: 50% !important;
    transform: translateX(-50%);
}

.optionsAddMenu button{
    display: block !important;
    padding: 10px !important;
}

.css-1dyz3mf{
    max-height: 7rem !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}