.menu{
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.elementosMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 1rem;
}

.headerMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerMenu img{
    width: 2.4rem;
    height: 2.4rem;
    user-select: none;
    cursor: pointer;
    border-radius: 100%;
}

.textHM{
    margin-left: 0.5rem;
}

.textHM h1{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
}

.textHM p{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-subtitle);
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;
}

.search{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.filter{
    display: flex;
    align-items: center;
    background-color: #292929;
    border-radius: 5px;
    padding: 9px;
    width: 88%;
}

.filter span{
    height: 16px;
}

.inputSearch{
    margin-left: 5px;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.footerMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.footerMenu span{
    font-size: 40px;
    cursor: pointer;
    user-select: none;
}

.footerMenu span:hover{
    transition: 0.2s;
    transform: scale(1.1); 
}

.popUpCadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.itensPopUpC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 38rem;
    border-radius: 1rem;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, .25);
    backdrop-filter: blur(5px);
}

.headerPUCad img{
    width: 12rem;
    height: 12rem;
}

.btnClose{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
}

.btnClose button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
    margin: 1rem;
}

.btnClose button:hover{
    transition: 0.2s;
    transform: scale(1.2);
}

.btnClose button svg{
    font-size: 26px;
}

.headerPUCad{
    display: flex;
    align-items: center;
}

.infosHPUCad{
    margin-left: 2rem;
}

.barraPp{
    margin-top: 1rem;
    width: 90%;
    height: 2px;
    background-color: rgb(131 131 131);
}

.infosHPUCad p{
    margin-top: 0.5rem;
    font-size: 16px;
    color: var(--color-subtitle);
    max-width: 25rem;
}

.btnAddContato input {
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 11rem;
    padding: 10px;
    cursor: pointer;
}

.btnAddContato input:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.formPp{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.elementosFormPp{
    margin-top: 1rem;
}

.inputFP{
    width: 22rem;
    padding: 9px;
    border-radius: 3px;
    border: none;
    color: black;
    margin-top: 5px;
}

.titlesInput{
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
}

.btnAddContato{
    margin-top: 3rem;
}

.elementsCont1{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.elementsCont1 img{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.textCont1{
    margin-left: 1rem;
}

.textCont1 h1{
    font-size: 16px;
}

.textCont1 p{
    font-size: 12px;
    margin-top: 2px;
}

.contato{
    width: 100%;
    padding: 9px 0px 9px 0px;
}

.contato:hover{
    transition: 0.1s;
    background-color: rgb(129 129 129 / 45%);
    cursor: pointer;
}

.contatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;  
    margin-top: 0.5rem;
}

.cont1{
    width: 100%;
}

.btnStatus svg, 
.cabecalhoStatus svg{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.abaStatus{
    height: 100%;
    width: 100%;
}

.cabecalhoStatus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0rem 1rem;
}

.cabecalhoStatus h1{
    font-size: 24px;
    font-weight: 500;
}

.seusStatus{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.iconeStatusUser {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    object-position: center;
}

.btnADDStatus{
    margin-top: 1rem;
}

.btnADDStatus svg{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    user-select: none;
}

.principalMenu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.containerMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.statusList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.statusItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ffffff36;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.statusItem:hover{
    cursor: pointer;
    user-select: none;
    background-color: #ffffff1a;
    transition: 0.2s;
}
  
.statusImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
  
.statusInfo h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
  
.statusUploaderOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.statusUploader {
    width: 45rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 50%);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 1rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}
 
.BtnCloseSU{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.BtnCloseSU button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.BtnCloseSU button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.btnPostar button{
    margin-top: 2rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 16px;
    width: 11rem;
    padding: 10px;
    cursor: pointer;
}

.btnPostar button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.statusUploader input{
    width: 90%;
}

.imagePreview{
    width: 90%;
    height: 70%;
}

.imagePreview img{
    height: 100%;
    max-width: 40rem;
}

.legenda{
    width: 100%;
}

.barraStatus{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 1.5rem;
    opacity: 0.2;
}

.statusOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.paginaStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: rgb(0 0 0 / 50%);
    z-index: 1;
    backdrop-filter: blur(5px);
}

.statusDetails {
    width: 35rem;
    height: 90%;
    border-radius: 10px;
    overflow-y: auto;

    padding: 20px;
    text-align: center;
    border-radius: 1rem;
}
  
.statusImages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
.statusDetailItem {
    text-align: center;
}
  
.statusDetailItem img {
    max-width: 100%;
    max-height: 37rem;
}

.statusCarousel {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 90%;
}
  
.carouselContent {
    position: relative;
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.statusDetailItem {
    position: relative;
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.carouselNav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}
  
.carouselNav.hidden {
    display: none;
}
  
.botoes-story{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselNav.prev {
    left: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    height: 36rem;
    width: 13rem;
}
  
.carouselNav.next {
    right: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    height: 36rem;
    width: 13rem;
}

.menuStatus{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-nav {
    grid-area: 1 / 1;
    z-index: 1;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
}

.statusDetailItem {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.statusDetailItem.active {
    display: flex;
    opacity: 1;
}
  
.statusDetailItem.hidden {
    display: none;
    opacity: 0;
}

.statusLegenda {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}

.menuStatus button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}

.menuStatus button:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.menuStatus button svg{
    width: 1.5rem;
    height: 1.5rem;
}

.menuStatus h2{
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

.slide-thumb {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    width: 100%;
}

.thumb-bar {
    flex: 1;
    height: 3px;
    background: rgb(61 61 61 / 93%);
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}
  
.thumb-bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: #fff; 
    transition: width 0.1s linear;
}

.userAltor{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.userAltor img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
